/* Footer styles */
.footer {
  background-color: black;
  color: white;
  padding: 20px 0;
  text-align: center;
}

.footerContent {
  display: flex;
  justify-content: space-around;
  align-items: center;
}