.container {
  width: 100%;
  /* min-height: 100%; */
  height: fit-content;
  display: grid;
  text-align: center;
  align-self: start;
  position: relative;
  margin-top: 3vh;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #000;
  width: 100%;
  height: 100%;
  opacity: 0.9;
  z-index: 1;
}

.propmtContainer{
  z-index: 10;
  width: 60%;
  margin: 0 auto;
}

.askLogin {
  z-index: 10;
  text-decoration: none;
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
  padding: 1%;
  background-color: #eee;
  margin: 0 auto;
  border-radius: 10px;
  color: black
}

.askLogin > * {
  margin: 0;
  margin: 3%;
}

.btnContainer {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 0.5vw;
}

.btn {
  width: 100%;
  font-size: 1rem;
  border: none;
  transition: background-color 0.3s ease-in-out;
}


.btn:hover {
  cursor: pointer;
  background-color: #333;
}


/* Hide the default scrollbar */
::-webkit-scrollbar {
  width: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
